---
import "../styles/global.css";
---

<section class="py-16 bg-gray-100">
  <div
    class="container flex flex-col justify-center items-center gap-10 px-4 mx-auto"
  >
    <!-- GRID DE IMÁGENES -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 w-full">
      <!-- Imagen -->
      <div
        class="group overflow-hidden rounded-2xl shadow-lg bg-gray-300 hover:shadow-2xl transition-all duration-300"
      >
        <img
          class="object-cover w-full h-full group-hover:scale-110 transition-transform duration-500"
          src="https://res.cloudinary.com/dzmwlkqiy/image/upload/v1763951667/w2_ann52z.jpg"
        />
      </div>

      <div
        class="group overflow-hidden rounded-2xl shadow-lg bg-gray-300 hover:shadow-2xl transition-all duration-300"
      >
        <img
          class="object-cover w-full h-full group-hover:scale-110 transition-transform duration-500"
          src="https://res.cloudinary.com/dzmwlkqiy/image/upload/v1763951667/w3_okzh3x.jpg"
        />
      </div>

      <div
        class="group overflow-hidden rounded-2xl shadow-lg bg-gray-300 hover:shadow-2xl transition-all duration-300"
      >
        <img
          class="object-cover w-full h-full group-hover:scale-110 transition-transform duration-500"
          src="https://res.cloudinary.com/dzmwlkqiy/image/upload/v1763951667/w1_ikedmw.jpg"
        />
      </div>

      <div
        class="group overflow-hidden rounded-2xl shadow-lg bg-gray-300 hover:shadow-2xl transition-all duration-300"
      >
        <img
          class="object-cover w-full h-full group-hover:scale-110 transition-transform duration-500"
          src="https://www.retema.es/sites/default/files/inline-images/AdobeStock_353762548.jpg"
        />
      </div>
    </div>

    <!-- BOTÓN -->
    <button
      class="px-10 py-3 rounded-xl bg-blue-700 text-white font-semibold tracking-wide shadow-md hover:bg-blue-800 hover:shadow-xl transition-all duration-300"
    >
      BROCHURE
    </button>
  </div>
</section>
