---
import "../styles/global.css";
---

<section class="py-16 bg-gray-100">
  <div
    class="container flex flex-col justify-center items-center gap-10 px-4 mx-auto"
  >
    <!-- GRID DE IMÁGENES -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 w-full">
      <!-- Imagen -->
      <div
        class="group overflow-hidden rounded-2xl shadow-lg bg-gray-300 hover:shadow-2xl transition-all duration-300"
      >
        <img
          class="object-cover w-full h-full group-hover:scale-110 transition-transform duration-500"
          src="https://cdn11.bigcommerce.com/s-g6xc349ydi/images/stencil/original/products/1951/6462/IMG_1732__47282.1634789642.jpg"
        />
      </div>

      <div
        class="group overflow-hidden rounded-2xl shadow-lg bg-gray-300 hover:shadow-2xl transition-all duration-300"
      >
        <img
          class="object-cover w-full h-full group-hover:scale-110 transition-transform duration-500"
          src="https://radwaterperu.com/wp-content/uploads/2024/09/4-1.jpg"
        />
      </div>

      <div
        class="group overflow-hidden rounded-2xl shadow-lg bg-gray-300 hover:shadow-2xl transition-all duration-300"
      >
        <img
          class="object-cover w-full h-full group-hover:scale-110 transition-transform duration-500"
          src="https://blog.vise.com.mx/hs-fs/hubfs/Octubre%202018/Aguas%20residuales%20Penjamo.png?width=542&name=Aguas%20residuales%20Penjamo.png"
        />
      </div>

      <div
        class="group overflow-hidden rounded-2xl shadow-lg bg-gray-300 hover:shadow-2xl transition-all duration-300"
      >
        <img
          class="object-cover w-full h-full group-hover:scale-110 transition-transform duration-500"
          src="https://www.retema.es/sites/default/files/inline-images/AdobeStock_353762548.jpg"
        />
      </div>
    </div>

    <!-- BOTÓN -->
    <button
      class="px-10 py-3 rounded-xl bg-blue-700 text-white font-semibold tracking-wide shadow-md hover:bg-blue-800 hover:shadow-xl transition-all duration-300"
    >
      BROCHURE
    </button>
  </div>
</section>
