---
import Feature from "./Feature.astro";
import Gallery from "./Gallery.astro";
import Header from "./Header.astro";
import Hero from "./Hero.astro";
import HeroFooter from "./HeroFooter.astro";
import Teams from "./Teams.astro";
import Footer from "./Footer.astro";
---

<div>
  <Header />
  <Hero />
  <HeroFooter />
  <Feature />
  <Gallery />
  <Teams />
  <Footer />
</div>
